<div class="group flex-1 basis-[300px]
                    bg-white rounded-lg border border-black/[0.03]
                    p-6 transition-transform duration-300" data-aos="fade-up">
    <div class="w-full aspect-[16/10] overflow-hidden mb-4">
        <img src="./assets/images/ponente3.png" alt="Elena Martín" class="w-full h-full object-cover [filter:sepia(20%)]
                        group-hover:[filter:sepia(0%)] group-hover:scale-105
                        transition-all duration-500">
    </div>
    <div>
        <h3 class="font-serif text-[1.8rem] my-2">{{ Nombre }}</h3>
        <p class="text-[0.8rem] font-bold tracking-[1px] mb-3 text-(--color-naranja)">{{ Tipo }}</p>
        <p class="speaker-description mb-4">
            {{ Descripcion }}
        </p>
        <a href="#" class="inline-flex items-center gap-2 text-[1rem] font-normal
                               transition-colors duration-300
                                 text-(--color-azul)">
            <i class="fa-solid fa-arrow-right no-underline"></i> <span class="underline">Ver
                proyectos</span>
        </a>
    </div>
</div>